{% extends 'base.html' %}

{% block head%}

{% endblock %}

{% block body %}
<div>
    <h1>NLP application</h1>

    <form action="/predict" method="POST">
        <div>
            <p>Enter your text</p>
            <input type="text" name = "text1" id="text1">
        </div>

        <button type="submit" name="POS" value="POS Tagging"> POS Tagging </button>
        <button type="submit" name="NER" value="Named Entity Recognition"> Named Entity Recognition </button>
        <button type="submit" name="SENTIMENT" value="Sentiment Analysis"> Sentiment Analysis </button>
        <button type="submit" name="CLASSIFICATION" value="Text Classification" > Text Classification </button>
        <button type="submit" name="SUMMARIZATION" value="Text Summarization" > Text Summarization </button>
    </form>


    <h3>Result: {{pred}}</h3>
</div>
{% endblock %}